/.idea/.idea.Larisa/.idea/contentModel.xml
/.idea/.idea.Larisa/.idea/modules.xml
/.idea/.idea.Larisa/.idea/workspace.xml
/.idea/.idea.Larisa/riderModule.iml
/.vs/Larisa/v15/.suo
/.vs/Larisa/v15/Server/sqlite3/db.lock
/.vs/Larisa/v15/Server/sqlite3/storage.ide
/.vs/Larisa/v15/sqlite3/db.lock
/.vs/Larisa/v15/sqlite3/storage.ide
/packages/**
/Larisa/bin/*
/Larisa/obj/*
/.idea/.idea.Larisa/.idea/.name
/.idea/.idea.Larisa/.idea/indexLayout.xml
/.idea/.idea.Larisa/.idea/vcs.xml
/.vs/Larisa/v15/Server/sqlite3/storage.ide-shm
/.vs/Larisa/v15/Server/sqlite3/storage.ide-wal
/GoogleSpeechApi/bin/Debug/Google.Api.Gax.Grpc.dll
/GoogleSpeechApi/bin/Debug/Google.Api.Gax.Grpc.pdb
/GoogleSpeechApi/bin/Debug/Google.Api.Gax.Grpc.xml
/GoogleSpeechApi/bin/Debug/Google.Apis.Auth.PlatformServices.dll
/GoogleSpeechApi/bin/Debug/Google.Apis.Auth.dll
/GoogleSpeechApi/bin/Debug/Google.Apis.Auth.xml
/GoogleSpeechApi/bin/Debug/Google.Apis.Core.dll
/GoogleSpeechApi/bin/Debug/Google.Apis.Core.xml
/GoogleSpeechApi/bin/Debug/Google.Apis.PlatformServices.dll
/GoogleSpeechApi/bin/Debug/Google.Apis.Speech.v1.dll
/GoogleSpeechApi/bin/Debug/Google.Apis.Speech.v1.xml
/GoogleSpeechApi/bin/Debug/Google.Apis.dll
/GoogleSpeechApi/bin/Debug/Google.Apis.xml
/GoogleSpeechApi/bin/Debug/Google.Cloud.Speech.V1.dll
/GoogleSpeechApi/bin/Debug/Google.Cloud.Speech.V1.pdb
/GoogleSpeechApi/bin/Debug/Google.Cloud.Speech.V1.xml
/GoogleSpeechApi/bin/Debug/Google.Protobuf.dll
/GoogleSpeechApi/bin/Debug/Google.Protobuf.xml
/GoogleSpeechApi/bin/Debug/GoogleSpeechApi.dll
/GoogleSpeechApi/bin/Debug/GoogleSpeechApi.pdb
/GoogleSpeechApi/bin/Debug/Grpc.Auth.dll
/GoogleSpeechApi/bin/Debug/Grpc.Auth.xml
/GoogleSpeechApi/bin/Debug/Grpc.Core.dll
/GoogleSpeechApi/bin/Debug/Grpc.Core.xml
/GoogleSpeechApi/bin/Debug/NAudio.dll
/GoogleSpeechApi/bin/Debug/NAudio.xml
/GoogleSpeechApi/bin/Debug/Newtonsoft.Json.dll
/GoogleSpeechApi/bin/Debug/Newtonsoft.Json.xml
/GoogleSpeechApi/bin/Debug/System.Interactive.Async.dll
/GoogleSpeechApi/bin/Debug/System.Interactive.Async.xml
/GoogleSpeechApi/bin/Debug/System.Net.Http.dll
/GoogleSpeechApi/bin/Debug/System.Security.Cryptography.Algorithms.dll
/GoogleSpeechApi/bin/Debug/System.Security.Cryptography.Encoding.dll
/GoogleSpeechApi/bin/Debug/System.Security.Cryptography.Primitives.dll
/GoogleSpeechApi/bin/Debug/System.Security.Cryptography.X509Certificates.dll
/GoogleSpeechApi/obj/Debug/GoogleSpeechApi.csproj.CopyComplete
/GoogleSpeechApi/obj/Debug/GoogleSpeechApi.csproj.CoreCompileInputs.cache
/GoogleSpeechApi/obj/Debug/GoogleSpeechApi.csproj.FileListAbsolute.txt
/GoogleSpeechApi/obj/Debug/GoogleSpeechApi.csprojResolveAssemblyReference.cache
/GoogleSpeechApi/obj/Debug/GoogleSpeechApi.dll
/GoogleSpeechApi/obj/Debug/GoogleSpeechApi.pdb
/GoogleSpeechApi/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/GoogleSpeechApi/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/GoogleSpeechApi/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/VoiceCodeWpf/bin/Debug/VoiceCodeWpf.exe
/VoiceCodeWpf/bin/Debug/VoiceCodeWpf.exe.config
/VoiceCodeWpf/bin/Debug/VoiceCodeWpf.pdb
/VoiceCodeWpf/obj/Debug/App.g.cs
/VoiceCodeWpf/obj/Debug/App.g.i.cs
/VoiceCodeWpf/obj/Debug/MainWindow.g.cs
/VoiceCodeWpf/obj/Debug/MainWindow.g.i.cs
/VoiceCodeWpf/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/VoiceCodeWpf/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/VoiceCodeWpf/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/VoiceCodeWpf/obj/Debug/VoiceCodeWpf.Properties.Resources.resources
/VoiceCodeWpf/obj/Debug/VoiceCodeWpf.csproj.CoreCompileInputs.cache
/VoiceCodeWpf/obj/Debug/VoiceCodeWpf.csproj.FileListAbsolute.txt
/VoiceCodeWpf/obj/Debug/VoiceCodeWpf.csproj.GenerateResource.cache
/VoiceCodeWpf/obj/Debug/VoiceCodeWpf.csprojResolveAssemblyReference.cache
/VoiceCodeWpf/obj/Debug/VoiceCodeWpf.exe
/VoiceCodeWpf/obj/Debug/VoiceCodeWpf.g.resources
/VoiceCodeWpf/obj/Debug/VoiceCodeWpf.pdb
/VoiceCodeWpf/obj/Debug/VoiceCodeWpf_MarkupCompile.cache
/VoiceCodeWpf/obj/Debug/VoiceCodeWpf_MarkupCompile.lref
